<p id="notice"><%= notice %></p>

<h1>Listing It Assets</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Needs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @it_assets.each do |it_asset| %>
      <tr>
        <td><%= it_asset.category %></td>
        <td><%= it_asset.name %></td>
        <td>
          <ul>
            <% it_asset.needs.each do |need| %>
              <li><%= link_to need.name, need %></li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'Show', it_asset %></td>
        <td><%= link_to 'Edit', edit_it_asset_path(it_asset) %></td>
        <td><%= link_to 'Destroy', it_asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New It asset', new_it_asset_path %>
